<!DOCTYPE html>
<html>
<head>
        <title>Post Details</title>
</head>
<body>


<h1> <%= @post_selected.title %> </h1>

<em> <%= @post_selected.date %> </em>

<p> <%=  @post_selected.content_post %> </p>


<a href="../blog">Blog's Home</a>

</body>
</html>
