
<div class="login-form">
	<form action="/" method="POST">
		<input class="inputs" type="text" name="user_name" placeholder="Username">
		<input class="inputs" type="password" name="password" placeholder="Password">

		<button class="login-button" type="submit" name="">Login</button>
	</form>
</div>