<!DOCTYPE html>
<html>
<head>
	<title>private page</title>
</head>
<body>

<h1> Your own private page </h1>

<p> plenty of cool stuff </p>

<h2> WHouahhhh </h2>

<br>

<form action="/unlogin" method="POST">
	<button type="submit" name="loginfo" value="unlog">unlog session</button>
</form>




 

</body>
</html>