body {

  }

.top_row {
  margin: 0 15px 0 15px
}

.site-branding {
  width: 293px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 25px 0 25px 25px;
   font-size: 36px;
}

.mainmenu {
 width: 66.66%
  padding: 0px 5px

}

.ulheader {
    margin-top: 10px;
    margin-left: 10%;
}

.liheader {
  color: #777;
display: block;
margin: 0;
padding: 25px 15px 19px 10px;
text-decoration: none;
position: relative;
font-size: 16px;
}

a:visited {
    color: #737373;
}


.upcontain {
  height: 500px;
  background-image:url(http://cdn.demo.fabthemes.com/revera/files/2013/08/wallpaper-939317-1280x550.jpg);
}


.grayscale {
  -webkit-filter: grayscale(100%);
  width: 100%;
}

.redinfo {
  height: 380px;
  background-color: #ca0000;
}

.redinfocab {

}


.lastproject {


}

.footinfo {
  background-color: grey;
}
