body {
  background-image:url("https://trello-backgrounds.s3.amazonaws.com/53baf533e697a982248cd73f/4200x4200/48dbf0b5a546541e847e267a5dcd2201/shutterstock_134707556.jpg");
  background-size: 130%;
  }

header {
  color:white;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 5px;
}

header img {
  height: 25px;
  vertical-align: middle;
}

header button {
  background-color: rgba(255, 255, 255, 0.35);
    display: inline-block;
}



header form {
  display: inline-block;
}

.formsearch {
  width: 100%;
  display: inline-block;

}


i {
    position: absolute;
    right: 12px;
    top: 10px;
}

header .form-control {
    background-color: rgba(255, 255, 255, 0.34);
    /*color: white;*/
    position: relative;
    border: 0px;
}

.logo {
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.agile_board {
  color: white;
  display: inline-block;
  vertical-align: middle;
}



.sidebar {
  background-color: grey;

}

main .col-sm-4 {
  background-color: #e4e4e4;
  margin: 5px 5px 5px 10px;
  width: 31%;
  border-radius: 10px;

}

h4 {
 
}
/*.colmenu {height: 100%;}*/

.liststuff{
background-color: aliceblue;
 margin: 7px;
 padding: 8px


}